.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .container .btns{
    display: flex;
    justify-content: space-around;
  }
  #loading{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: #007bff;
  }
  .container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .filters div {
    margin-bottom: 10px;
  }
  
  .filters label {
    font-weight: bold;
  }
  
  .filters select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .card-container .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }


  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .filters {
      flex-direction: column;
    }
    .card-container{
      width: 800px;
    }
    .card{
      width: 200px;
    }
  }